# **Recommendation systems: CONTENT-BASED FILTERING**

## **Recommendation systems**

Even though peoples’ tastes may vary, they generally follow patterns. there are similarities in the things that people tend to like. People tend to like things in the same category or things that share the same characteristics. People also tend to have similar tastes to those of the people they’re close to in their lives. Recommender systems try to capture these patterns and similar behaviors, to help predict what else you might like. Recommender systems have many applications:

Recommender systems are usually at play on many websites. For example, suggesting books on Amazon and movies on Netflix. In fact, everything on Netflix’s website is driven by customer selection. If a certain movie gets viewed frequently enough, Netflix’s recommender system ensures that that movie gets an increasing number of recommendations. Another example can be found in a daily-use mobile app, where a recommender engine is used to recommend anything from where to eat, or, what job to apply to. On social media, sites like Facebook or LinkedIn, regularly recommend friendships. Recommender systems are even used to personalize our experience on the web. For example, when we go to a news platform website, a recommender system will make note of the types of stories that we clicked on and make recommendations on which types of stories we might be interested in reading, in future. There are many of these types of examples and they are growing in number every day. 

One of the main advantages of using recommendation systems is that users get a broader exposure to many different products they might be interested in. This exposure encourages users towards continual usage or purchase of their product. Not only does this provide a better experience for the user but it benefits the service provider, as well, with increased potential revenue and better security for its customers. 

There are generally 2 main types of recommendation systems: Content-based and collaborative filtering. 
1. The main paradigm of a Content-based recommendation system is driven by the statement: “Show me more of the same of what I've liked before." Content-based systems try to figure out what a user's favorite aspects of an item are, and then make recommendations on items that share those aspects. 
2. Collaborative filtering is based on a user saying, “Tell me what's popular among my neighbors because I might like it too.” Collaborative filtering techniques find similar groups of users, and provide recommendations based on similar tastes within that group. 

### **Content-based Recommender Systems**
A Content-based recommendation system tries to recommend items to users based on their profile. The user's profile revolves around that user's preferences and tastes. It is shaped based on user ratings, including the number of times that user has clicked on different items or perhaps even liked those items. The recommendation process is based on the similarity between those items. Similarity or closeness of items is measured based on the similarity in the content of those items. 
#### **Advantages and Disadvantages of Content-Based Filtering**

**Advantages**
* Learns user's preferences
* Highly personalized for the user

**Disadvantages**
* Doesn't take into account what others think of the item, so low quality item recommendations might happen
* Extracting data is not always intuitive
* Determining what characteristics of the item the user dislikes or likes is not always obvious

The recommendation in a content-based system is based on user's taste and the content or feature set items. Such a model is very efficient. However, in some cases, it doesn't work. For example, assume that there is a movie in the drama genre, which the user has never watch. So, this genre would not be in her/his profile. Therefore, shall only get recommendations related to genres that are already in her/his profile and the recommender engine may never recommend any movie within other genres. This problem can be solved by other types of recommender systems such as collaborative filtering. 

This notebook will explore Content-based recommendation systems and implement a simple version of one using Python and the Pandas library.

## Table of contents

1. [Acquiring the data](#Data)
2. [Data Preprocessing](#Preprocessing)
3. [Content Based Filtering](#Filtering)

## **Acquiring the Data**<a name = Data></a>

### **Import required library packages:**

In [1]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2022-05-05 10:40:00--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  27.4MB/s    in 5.4s

2022-05-05 10:40:06 (28.4 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

In [3]:
#Storing the movie information into a pandas dataframe
df_movies = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
df_ratings = pd.read_csv('ratings.csv')
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## **Data Preprocessing**<a name = Preprocessing></a>

In [4]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
#df_movies['year'] = df_movies.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
#df_movies['year'] = df_movies.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
#df_movies['title'] = df_movies.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
#df_movies['title'] = df_movies['title'].apply(lambda x: x.strip())
#df_movies.head()

Now remove the year from the **title** column by using pandas' replace function and store in a new **year** column.

In [5]:
df_movies['year'] = df_movies.title.str.extract('(\(\d\d\d\d\))',expand=True)
df_movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,(1995)
1,2,Jumanji (1995),Adventure|Children|Fantasy,(1995)
2,3,Grumpier Old Men (1995),Comedy|Romance,(1995)
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,(1995)
4,5,Father of the Bride Part II (1995),Comedy,(1995)
...,...,...,...,...
34203,151697,Grand Slam (1967),Thriller,(1967)
34204,151701,Bloodmoney (2010),(no genres listed),(2010)
34205,151703,The Butterfly Circus (2009),Drama,(2009)
34206,151709,Zero (2015),Drama|Sci-Fi,(2015)
34207,151711,The 2000 Year Old Man (1975),(no genres listed),(1975)

In [6]:
#Removing the parentheses
df_movies['year'] = df_movies.year.str.extract('(\d\d\d\d)',expand=True)
df_movies

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...,...
34203,151697,Grand Slam (1967),Thriller,1967
34204,151701,Bloodmoney (2010),(no genres listed),2010
34205,151703,The Butterfly Circus (2009),Drama,2009
34206,151709,Zero (2015),Drama|Sci-Fi,2015
34207,151711,The 2000 Year Old Man (1975),(no genres listed),1975

In [7]:
#Removing the years from the 'title' column
df_movies['title'] = df_movies.title.str.replace('(\(\d\d\d\d\))', '')
df_movies.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

   movieId       title                                       genres  year
0        1  Toy Story   Adventure|Animation|Children|Comedy|Fantasy  1995
1        2    Jumanji                    Adventure|Children|Fantasy  1995

With that, split the values in the **Genres** column into a list of Genres to simplify future use. This can be achieved by applying Python's split string function on the correct column.

In [8]:
#Every genre is separated by a | so we simply have to call the split function on |
df_movies['genres'] = df_movies.genres.str.split('|')
df_movies.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

In [9]:
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
df_movies['title'] = df_movies['title'].apply(lambda x: x.strip())
df_movies.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

Since keeping genres in a list format isn't optimal for the content-based recommendation system technique, use the One Hot Encoding technique to convert the list of genres to a vector where each column corresponds to one possible value of the feature. This encoding is needed for feeding categorical data. In this case, store every different genre in columns that contain either 1 or 0. 1 shows that a movie has that genre and 0 shows that it doesn't. Also store this dataframe in another variable since genres won't be important for this type of recommendation system.

In [10]:
#Copying the movie dataframe into a new one since we won't need to use the genre information in our first case.
moviesWithGenres_df = df_movies.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in df_movies.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. The timestamp column is not required, so drop it to save on memory.

In [12]:
#Drop removes a specified row or column from a dataframe
df_ratings = df_ratings.drop('timestamp', 1)
df_ratings.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

## **Content-Based recommendation system**<a name = 'Filtering'></a>

Now, take a look at how to implement Content-Based or Item-Item recommendation systems. This technique attempts to figure out what a user's favourite aspects of an item is, and then recommends items that present those aspects. In this case, try to figure out the input's favorite genres from the movies and ratings given.

Begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [13]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

**Add movieId to input user**

With the input complete, let's extract the input movie's ID's from the movies dataframe and add them into it.

Achieve this by first filtering out the rows that contain the input movie's title and then merging this subset with the input dataframe. Also drop unnecessary columns for the input to save memory space.

In [14]:
#Filtering out the movies by title
#inputId = moviesWithGenres_df[moviesWithGenres_df['title'].isin(inputMovies['title'].tolist())]
#inputId
#Then merging it so we can get the movieId. It's implicitly merging it by title.
#inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
#inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
#inputMovies

In [15]:
#Filtering out the movies by title
#inputId = df_movies[df_movies['title'].isin(inputMovies['title'].tolist())]
#inputId

In [16]:
#Then merging it so we can get the movieId. It's implicitly merging it by title.
#inputMovies = pd.merge(inputId, inputMovies)
#inputMovies

In [17]:
#Dropping information we won't use from the input dataframe
#inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#inputMovies

Now, start by learning the input's preferences, so that get the subset of movies that the input has watched from the Dataframe containing genres defined with binary values.

In [18]:
#Filtering out the movies by title
#userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
#userMovies

In [19]:
#Filtering out the movies by title
userMovies = moviesWithGenres_df[moviesWithGenres_df['title'].isin(inputMovies['title'].tolist())]
userMovies

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
293,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1246,1274,Akira,"[Action, Adventure, Animation, Sci-Fi]",1988,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1885,1968,"Breakfast Club, The","[Comedy, Drama]",1985,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
#Dropping information we won't use from the input dataframe
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
#Resetting the index to avoid future issues
userGenreTable = userGenreTable.reset_index(drop=True)
userGenreTable

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now start learning the input's preferences!

To do this, turn each genre into weights by using the input's reviews and multiplying them into the input's genre table and then summing up the resulting table by column. This operation is actually a dot product between a matrix and a vector, accomplished by calling Pandas's "dot" function.

In [21]:
inputMovies['rating']

0    5.0
1    3.5
2    2.0
3    5.0
4    4.5
Name: rating, dtype: float64

In [22]:
userGenreTable.transpose()

                      0    1    2    3    4
Adventure           1.0  1.0  0.0  1.0  0.0
Animation           1.0  0.0  0.0  1.0  0.0
Children            1.0  1.0  0.0  0.0  0.0
Comedy              1.0  0.0  1.0  0.0  1.0
Fantasy             1.0  1.0  0.0  0.0  0.0
Romance             0.0  0.0  0.0  0.0  0.0
Drama               0.0  0.0  1.0  0.0  1.0
Action              0.0  0.0  0.0  1.0  0.0
Crime               0.0  0.0  1.0  0.0  0.0
Thriller            0.0  0.0  1.0  0.0  0.0
Horror              0.0  0.0  0.0  0.0  0.0
Mystery             0.0  0.0  0.0  0.0  0.0
Sci-Fi              0.0  0.0  0.0  1.0  0.0
IMAX                0.0  0.0  0.0  0.0  0.0
Documentary         0.0  0.0  0.0  0.0  0.0
War                 0.0  0.0  0.0  0.0  0.0
Musical             0.0  0.0  0.0  0.0  0.0
Western             0.0  0.0  0.0  0.0  0.0
Film-Noir           0.0  0.0  0.0  0.0  0.0
(no genres listed)  0.0  0.0  0.0  0.0  0.0

In [23]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
userProfile

Adventure             13.5
Animation             10.0
Children               8.5
Comedy                11.5
Fantasy                8.5
Romance                0.0
Drama                  6.5
Action                 5.0
Crime                  2.0
Thriller               2.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 5.0
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

Now, the weights for every of the user's preferences is obtained. This is known as the User Profile. Using this, movies can be recommended that satisfy the user's preferences. This is started by extracting the genre table from the original dataframe:

In [24]:
#Now get the genres of every movie in the original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,title,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Jumanji,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Grumpier Old Men,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Waiting to Exhale,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Father of the Bride Part II,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
genreTable.shape

(34208, 21)

With the input's profile and the complete list of movies and their genres in hand, it's time to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [26]:
#Multiply the genres by the weights and then take the weighted average
genreTable['recommendation'] = ((genreTable.drop('title', axis = 1)*userProfile).sum(axis=1))/(userProfile.sum())
genreTable = genreTable.sort_values(by = 'recommendation', ascending = False, axis = 0)
genreTable[['title','recommendation']].head(10)

                                                     title  recommendation
movieId
26093           Wonderful World of the Brothers Grimm, The        0.806897
673                                              Space Jam        0.786207
130520                                                Home        0.786207
108932                                      The Lego Movie        0.786207
32031                                               Robots        0.786207
51632                              Atlantis: Milo's Return        0.786207
51939                  TMNT (Teenage Mutant Ninja Turtles)        0.786207
26340    Twelve Tasks of Asterix, The (Les douze travau...        0.786207
27344    Revolutionary Girl Utena: Adolescence of Utena...        0.758621
2987                              Who Framed Roger Rabbit?        0.744828